<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.katiabravo.newscentral">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/news_ic"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NewsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                /**icon launcher:
                    Artist: IconsMind
                    Iconset: Line Icons (2053 icons)
                    License: Linkware (Backlink to http://www.iconsmind.com required)
                    Commercial usage: Allowed
                    License URL: http://www.iconsmind.com/license-agreement/ **/
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>